@model NutriPlan.Models.Intake

@{
    ViewData["Title"] = "Create Intake";
}

<h1>Create Intake</h1>

<h4>Intake</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoodItem" class="control-label"></label>
                <input asp-for="FoodItem" class="form-control" />
                <span asp-validation-for="FoodItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label"></label>
                <input asp-for="Calories" class="form-control" />
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Protein" class="control-label"></label>
                <input asp-for="Protein" class="form-control" />
                <span asp-validation-for="Protein" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carbohydrates" class="control-label"></label>
                <input asp-for="Carbohydrates" class="form-control" />
                <span asp-validation-for="Carbohydrates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fat" class="control-label"></label>
                <input asp-for="Fat" class="form-control" />
                <span asp-validation-for="Fat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserProfileId" class="control-label"></label>
                <select asp-for="UserProfileId" class="form-control" asp-items="@(ViewBag.UserProfiles as SelectList)"></select>
                <span asp-validation-for="UserProfileId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
